@import '../../../../Global/gobal.module.scss';

.form {
    background: $bgColor;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    position: relative;

    h2 {
        font-weight: 400;
        font-size: 78px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
    }

    input {
        font-weight: 700;
        font-size: 12px;
        line-height: 167%;
        text-transform: uppercase;
        color: #8baab7;
        width: 637px;
        background: none;
        border: none;
        border-bottom: 1px solid #8baab7;
        margin-bottom: 48px;
        height: 36px;
    }

    label {
        display: flex;
        column-gap: 27px;

        input {
            width: 305px;
            height: 36px;
        }
    }

    &__checkbox {
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        position: absolute;
    }

    &__btn {
        border: none;
        background: #018abe;
        border-radius: 20px;
        width: 637px;
        height: 116px;
        font-weight: 400;
        font-size: 44px;
        line-height: 91%;
        color: #fff;
    }
}